.AboutMe {
    background-color: white;
    padding: 20px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px #000000;
}

.AboutMe h2 {
    font-size: 32px;
}

.AboutMe p {
    font-family: "Inria Sans";
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
}

.my-project {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.AboutMe li {
    margin-bottom: 15px;
}

/* .my-project p{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
    margin: 5px;
}

.my-project a{
    text-decoration: none;
    font-weight: 900;
     font-size: 14px;
} */

.my-project a:hover {
    text-decoration: underline black;
}