.Image {
    height: 300px;
    padding-left: 20px;
    background-color: #ded8d8;
    position: relative;
    /* background-image: url(/img/5429533931906130208_121.jpg);
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat; */
}

.Image p {
    font-size: 30px;
    position: absolute;
    bottom: 0px;
}

