.Info p {
    color: #757575;
    font-size: 15px;
}

.Info {
    border-bottom: 1px solid #eeeeee;
}

.Image {
    background-image: url(/public/images/5190866735320916502_121.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 37%;
}