.App-block {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.App {
  background-color: #e4e4e4;
}


@media screen and (max-width: 600px) {
  .App-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}